# Configurações do servidor
PORT=3000
NODE_ENV=production

# Configurações AWS
AWS_REGION=us-east-1
S3_BUCKET_NAME=rss-feeds-bucket

# URL padrão para testes de RSS (pode ser alterada)
DEFAULT_RSS_URL=https://rss.uol.com.br/feed/tecnologia.xml