# Credenciais da AWS (opcional se usar S3_ENDPOINT público)
AWS_REGION=us-east-1
S3_BUCKET_NAME=gov-bucket-compass
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_SESSION_TOKEN=""

# Endpoint S3 público (use isso em vez das credenciais AWS para acesso público)
S3_ENDPOINT=s3://gov-bucket-compass/rss-gov/

# Configuração do servidor
PORT=3000

# URL do feed RSS do governo
RSS_URL_GOVBR=https://www.gov.br/governodigital/pt-br/noticias/RSS

# Configurações da aplicação
APP_TITLE=Portal Gov.br - Notícias
APP_DESCRIPTION=Informações oficiais do Governo Digital
CACHE_FILE_KEY=rss-gov/rss-data.json
RSS_UPDATE_INTERVAL=3600000